.card {
    border: 1px solid var(--orange);
    border-radius: 25px;
    padding: 25px 30px;
    margin: 22px;
    margin-bottom: 40px;
}

.card__suivant::after {
    content: "";
    background-color: var(--green);
    width: 20px;
    height: 2px;
    border-radius: 50px;
    display: block;
    position: absolute;
    right: 50%;
    margin-top: 45px;
}

.card__btn{
    
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--Mulish);
    font-size: var(--fs-xs);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 160%;
    border: 1px solid var(--orange);
    border-radius: 5px 5px;
    background-color: var(--orange);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}