.hero{}

.hero__header{
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 200px;
    position: relative;
    overflow: hidden;
    
}

.hero__header2 {
    
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 126px;
    position: relative;
    overflow: hidden;
}

.hero__margin{
    margin-top: 55px;
}

.hero__img{
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title{
    margin-top: 230px;
    margin-left: 30px;
    margin-right: 110px;
}

.hero__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--orange), var(--black));
    mix-blend-mode: soft-light;
    z-index: 1;
}

.hero__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #f3b77e, #484545);
    mix-blend-mode: soft-light;
    z-index: 2;
}