.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: var(--orange);
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
    padding: 118px 20px;
    padding-left: 0;
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}

.menu__link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--fs-xl);
    display: block;
    font-family: var(--Playfair);
    margin-bottom: 16px;
}

.menu__item {
    display: flex;
    align-items: flex-start;
}

.menu-btn {
    position: relative;
    width: 24px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    margin-right: 20px;
}

.menu-btn__bar {
    content: "";
    background: var(--white);
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;

}

.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--white);
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: var(--white);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}