.work {
    display: block;
    margin-bottom: 100px;
}

.work__img{
    width: auto;
    height: 189px;
}

.work__title {
    width: 100%;
    height: auto;
    display: block;
}

.work__title::after{
    content: "";
    background-color: var(--green);
    width: 20px;
    height: 2px;
    border-radius: 50px;
    margin-left: 40px;
    margin-top: 14px;
    margin-bottom: 14px;
    display: block;
}

.work__body{
    color: var(--gray1);
    margin-top: 0px;
    margin-bottom: 15px;
}

.work__title, .work__body{
    margin-left: 22px;
}

.work__btn{
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-family: var(--Mulish);
    font-size: 6.67px;
    font-weight: 700;
    letter-spacing: 10%;
    line-height: 160%;
    border: 1px solid var(--orange);
    padding: 10px;
    margin-right: 50px;
}